.gpt3__cta {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    border: 2px solid white;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
    padding: 2rem;
}

.gpt3__cta-content p {
    color: #0E0E0E;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.gpt3__cta-content h3 {
    color: #000;

    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
}

.gpt3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.gpt3__cta-btn button {
    border-radius: 40px;
    background: #000;
    color: #FFF;
    padding: 0.5rem 1rem;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    .gpt3__cta {
        flex-direction: column;
    }

    .gpt3__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width:550px) {
    .gpt3__cta {
        margin: 4rem 2rem;
        /* background-color: rgb(231, 22, 22); */
    }

    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-content p {
        font-size: 10px;
        line-height: 23px;
    }

    .gpt3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}